.parent{
    width: 100%;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0, 0, 0.5);

}
.HeadMaster{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.wel{
    font-size: 5rem;
    font-family: cursive;
}
.slogan{
    font-size: 2rem;
    font-family: cursive;
}

.content{
    width: 50rem;
    font-size: 2rem;
    
}